@import url("wrapper.css");
@import url("text.css");
@import url("list.css");
@import url("icon.css");
@import url("header.css");
@import url("footer.css");
@import url("basic.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

#main {
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  padding: 4.5em 3em 3em 3em;
  background: #ffffff;
  border-radius: 4px;
  cursor: default;
  max-width: 100%;
  opacity: 0.95;
  position: relative;
  text-align: center;
  width: 32em;
}

#main .avatar {
  position: relative;
  display: block;
  margin-bottom: 1.5em;
}

#main .avatar img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 0 1.5em #ffffff;
}

#main .avatar:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -3em;
  width: calc(100% + 6em);
  height: 1px;
  z-index: -1;
  background: #c8cccf;
}

@media only screen and (max-device-height: 414px) {
  #main .avatar img {
    width: 110px;
  }
}

@media only screen and (max-device-width: 414px) {
  #main .avatar img {
    width: 200px;
  }
}